<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.daniel.pi">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="InForma"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TelaUsuario2"></activity>
        <activity android:name=".artigosAdapter" />
        <activity
            android:name=".telaPrincipal2"
            android:label="@string/title_activity_tela_principal2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".itemSelecionado"
            android:label="@string/title_activity_item_selecionado"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".criarConta"
            android:label="@string/title_activity_criar_conta"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ArtigoCadastrarActivity"
            android:label="@string/title_activity_cadastrar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TelaLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>